<div class="hero-unit geddy-welcome-box">
  
<div class = "col-md-12 col-lg-12 section-icon">
<img src = "img/inventory.png" style = "width :150px"/>
   <div> <%- linkTo('Inventory', 'products', {class: 'brand'}) %></div>
</div>    

<div class = "col-md-12 col-lg-12 section-icon">
    <img src = "img/billing.png" style = "width :150px"/>    
   <div> <%- linkTo('Billing', 'products', {class: 'brand'}) %></div>
</div>    
    
</div>
