<div class="hero-unit geddy-welcome-box">
  <a href="/products">
    <div class = "col-md-12 col-lg-12 section-icon">
      <img src = "img/inventory.png" style = "width :150px"/>
      <div> <%- linkTo('Dashboard', 'products', {class: 'brand'}) %></div>
    </div>    
  </a>
  <a href="/bill">
    <div class = "col-md-12 col-lg-12 section-icon">
      <img src = "img/billing.png" style = "width :150px"/>    
      <div> <%- linkTo('Billing', '/bill', {class: 'brand'}) %></div>
    </div>    
  </a>
  <a href="/genReport">
    <div class = "col-md-12 col-lg-12 section-icon">
      <img src = "img/reports.png" style = "width :150px"/>    
      <div> <%- linkTo('Sale Trends', '/genReport', {class: 'brand'}) %></div>
    </div>    
  </a>
  <a href="/wishList">
    <div class = "col-md-12 col-lg-12 section-icon">
      <img src = "img/wishlist.png" style = "width :150px"/>    
     <div> <%- linkTo('wishList', '/wishList', {class: 'brand'}) %></div>
    </div>    
  </a>
</div>
 