body {
  background: url('../img/background.jpg') fixed no-repeat;
    font-family: 'Roboto', sans-serif;
}
body.application {
  padding-top: 60px;
  padding-bottom: 40px;
}
code {
  white-space: pre;
}

a{
  color:rgb(0, 0, 139);
}
.margin-right{
  margin-right:20px;
}

.navbar-fixed-top {
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box p {
  max-width: 760px;
  margin: 0 auto;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 40px;
}

.list-item div {
  background: white;
  border-bottom: 2px solid #ccc;
}

.list-item div > * {
  padding: 20px;
}

.list-item div h3 i {
  margin: 5px;
}

#flash-container {
  margin-top: 48px;
}

@media (max-width:480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}

.container .hero-unit{  
}

.section-icon{
    margin: 100px 50px 100px 25px;
  background: white;
  border: 20px solid white;
  border-radius: 10px;
    padding-left : 15px;
    display: inline-block;
}

.item-warning-bubble{
  background-color: rgba(255,0,0,1) !important;
  padding: 10px !important;
  border-radius: 10px;
  opacity: 0.8;
  position: absolute;
  top: -20px;
  right: -20px;
  color: #fff;
  width: 20%;
}
.barCode{
    padding: 0px;
  overflow: auto;
  width: 230px;
    border: 1px solid #C0C0C0;
  margin: 0 auto;
  text-align: center;
}
.barCode div{
  padding:0;
  border-bottom:0 ;
}

.item-warning-bubble-animation{
   -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    right:-10px;
    width:10%;
}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}