<div>
<h3>Items to be Billed</h3>
    <% if(geddy.geddy.cartItems){ %>
    
    <div class="row">
    <div class = "span4" style = "font-weight : bold">Item</div>
    <div class = "span4" style = "font-weight : bold">Quantity</div>
    </div>
    <% for (var i = 0, ii = geddy.geddy.cartItems.length; i < ii; i++){ %>
    <div class="row">
        <div class = "span4"><%= geddy.geddy.cartItems[i].name %></div>
        <div class = "span4"><%= geddy.geddy.cartItems[i].billQuantity %></div>
    </div>
<% } } %>
</div>

<div style = "margin-top:2%">
    <%- linkTo( "Back to Products", 'bill', {class : 'btn btn-right'}) %></h3>
</div>
<div style = "margin-top:2%">
    <%- linkTo( "Complete Billing", 'finish', {class : 'btn btn-right'}) %></h3>
</div>
