<div style = "text-align : center; margin-top : 25%;">
Bill processed successfully.
    
    <div style = "margin-top:2%">
    <%- linkTo( "Back to Inventory", 'products', {class : 'btn btn-right'}) %></h3>
    </div>
</div>