<div style = "text-align : center; margin-top : 25%;">
An E-Mail has been sent for procurement of the item.
    
    <div style = "margin-top:2%">
    <%- linkTo( "Back to Inventory", 'products', {class : 'btn btn-right'}) %></h3>
    </div>
    
</div>